body {
	.blink-bg{
		color: #fff;
		padding: 10px;
		display: inline-block;
		border-radius: 5px;
		animation: blinkingBackground 2s infinite;
	}
	@keyframes blinkingBackground{
		0%		{ background-color: #10c018;}
		25%		{ background-color: #1056c0;}
		50%		{ background-color: #ef0a1a;}
		75%		{ background-color: #254878;}
		100%	        { background-color: #04a1d5;}
	}
}

  
h1 {
  color: white;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  font-size: 60px;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
