body {

  }
}
}

  
h1 {
  @keyframes blinking {
        0% {
          background-color: #06c3d1;
          border: 3px solid #666;
        }
        100% {
          background-color: #270da6;
          border: 3px solid #666;
        }
      }
      #blink {
        width: 200px;
        height: 200px;
        animation: blinking 1s infinite;
      }
  color: white;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  font-size: 60px;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
